{% extends "layout.html" %}

{% block title %}Політика конфіденційності{% endblock %}

{% block render_body %}
<div class="container mt-5">
    <h1 class="display-5">Політика конфіденційності</h1>
    <hr>
    <div class="content">
        <h3>1. Збір інформації</h3>
        <p>Ми збираємо лише ті дані, які необхідні для функціонування сервісу Yuviron (наприклад, ваш нікнейм або
            email).</p>

        <h3>2. Використання даних</h3>
        <p>Ваші дані використовуються виключно для персоналізації вашого досвіду та покращення роботи нашого музичного
            сервісу.</p>

        <h3>3. Захист даних</h3>
        <p>Ми впроваджуємо сучасні методи шифрування для захисту вашої особистої інформації від несанкціонованого
            доступу.</p>

        <h3>4. Зміни в політиці</h3>
        <p>Ми залишаємо за собою право оновлювати цю політику. Остання дата оновлення: 29 березня 2026 року.</p>
    </div>
</div>
{% endblock %}